
<div *ngIf="ruleType">
    <h2><span>Rule Type</span> {{ruleType.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Rule Type Name</span></dt>
        <dd>
            <span>{{ruleType.ruleTypeName}}</span>
        </dd>
        <dt><span>Checker Bean Name</span></dt>
        <dd>
            <span>{{ruleType.checkerBeanName}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{ruleType.description}}</span>
        </dd>
        <dt><span>Required Arguments List</span></dt>
        <dd>
            <span>{{ruleType.requiredArgumentsList}}</span>
        </dd>
        <dt><span>Reporting Bean Name</span></dt>
        <dd>
            <span>{{ruleType.reportingBeanName}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'rule-type/'+ ruleType.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
